@import "./my_bulma.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color:white;
}

.navbar-burger {
    background-color: blue;
}

.masterbatchImage {
    object-fit: contain;
}

.hero {
    background-color: navy;
}
.card {
    max-width: 100%;
    position: center;
}

.has-bg-img { background: url("https://i.ibb.co/cXGt9xW/jj-ying-7-JX0-bfiux-Q-unsplash-4.jpg")center center; background-size:cover; }

.has-bg-img2 { background: url("https://i.ibb.co/ysF6xF1/shutterstock-546792490.jpg")bottom left; background-size: cover; }

.aditivos-hero-one { 
    background: url("https://i.ibb.co/W6N2FJn/mohan-murugesan-a-PUi7w4k-Kb-I-unsplash.jpg") center center; background-size: cover; 
    font-family: 'Bebas Neue', cursive;
    
    
}


.world-pic {
    background-size: cover; 
}

.inicio-hero-one {
    color: slategrey;
}

$card-header-padding: 1.75rem 1rem !default