@import "./my_bulma.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color:white;
}

.navbar-burger {
    background-color: blue;
}

.masterbatchImage {
    object-fit: contain;
}

.hero {
    background-color: navy;
}
.card {
    max-width: 100%;
    position: center;
}

.has-bg-img { background: url("https://i.ibb.co/cXGt9xW/jj-ying-7-JX0-bfiux-Q-unsplash-4.jpg")center center; background-size:cover; }

.has-bg-img2 { background: url("https://i.ibb.co/F7PxvHd/Inicio-Image.jpg")bottom left; background-size: cover; }

.aditivos-hero-one { 
    background: url("https://i.ibb.co/W6N2FJn/mohan-murugesan-a-PUi7w4k-Kb-I-unsplash.jpg") center center; background-size: cover; 
    font-family: 'Bebas Neue', cursive;

}

.aditivos-bio-hero {
    background: url("https://i.ibb.co/n0TnmtS/Green-Soil.jpg") center center; background-size: cover; 
    font-family: 'Bebas Neue', cursive;
}

.compostos-hero {
    background: url("https://i.ibb.co/qMyV1T0/pvcpipes.jpg") center center; background-size: cover; 
    font-family: 'Bebas Neue', cursive;
}

.masterbatches-hero {
    background: url("https://i.ibb.co/F7PxvHd/Inicio-Image.jpg") center center; background-size: cover; 
    font-family: 'Bebas Neue', cursive;
}

.resinas-hero {
    background: url("https://i.ibb.co/8cF1xLw/White-Resin.jpg") center center; background-size: cover; 
    font-family: 'Bebas Neue', cursive;
}

span {
    text-align: center;    
}

.produtos-font {
    font-family: 'Bebas Neue';
    font-size: 45px;
}

.world-pic {
    background-size: cover; 
}

.inicio-hero-one {
    color: slategrey;
}

$card-header-padding: 1.75rem 1rem !default